<html>
    <head>
        <title>Django Jacek blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Jacek Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pierwszy Post</a></h2>
            <p>£adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Drugi Post</a></h2>
            <p>£adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. £adny Post. </p>
        </div>
    </body>
</html>
